<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - iWish</title>
    <link rel="stylesheet" th:href="@{/CSS/styles.css}" href="../static/CSS/styles.css">
</head>
<body class="opretBruger">
<div th:replace="~{Header :: Header}"></div>
<header>
    <h1>Login</h1>
</header>
<main>
    <form action="/login" method="POST">
        <label for="username">Brugernavn:</label>
        <input type="text" id="username" name="username" required>

        <label for="password">Adgangskode:</label>
        <input type="password" id="password" name="password" required>

        <button type="submit">Log ind</button>
    </form>
</main>
<div th:replace="~{Footer :: Footer}"></div>
</body>
</html>
