<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>hej</title>
</head>
<body>

<h1> DET ER KJIN NHJEMMESIDE</h1>

<tr th:each="User: ${users}">
    <td th:text="${user.}"></td> <!-- Accessing artistName property directly -->
    <td th:text="${mus.genre}"></td> <!-- Accessing genre property directly -->
    <td th:text="${mus.albumName}"></td> <!-- Accessing albumName property directly -->
    <td th:text="${mus.albumYear}"></td> <!-- Accessing albumYear property directly -->



</body>
</html>