<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <title>Din ønskeliste</title>
  <link rel="stylesheet" th:href="@{/CSS/styles.css}" href="../static/CSS/styles.css">
</head>
<body>
<div th:replace="~{Header :: Header}"></div>
<header class="headerønske">
  Velkommen til din iWish
</header>
<div class="Ønskeside">
  <table>
  <thead>
<tr>
  <th>Ønske</th>
  <th>Pris</th>
  <th>Link</th>
</tr>
</thead>
  <tbody>
  <tr th:each="product: ${products}">
    <td th:text="${product.getProductName()}"></td>
    <td th:text="${product.getPrice()}+' DKK'"></td>
    <td><nav><ul>
      <li class="nav-button"><a th:href="${product.getProductLink()}">Klik her</a></li>
    </ul></nav></td>

  </tr>
  </tbody>
  </table>
</div>
<div class="nytønske">
  <nav>

    <div><a th:href="@{'http://localhost:8080/opretoenske/'+ ${wishListID}}">
      <button>Opret nyt ønske</button>
    </a>
    </div>
  </nav>
</div>
<slidebody>
  <div class="slider">
    <div class="slide-track">
      <div class="slide">
        <img src="../static/Images/airpods_cropped.png" th:src="@{images/airpods_cropped.png}" height="125" width="125" alt="slider logo">
        <img src="../static/Images/armband_cropped.png" th:src="@{images/armband_cropped.png}" height="125" width="125" alt="slider logo">
        <img src="../static/Images/bog_cropped.png" th:src="@{images/bog_cropped.png}" height="125" width="125" alt="slider logo">
        <img src="../static/Images/bukser_cropped.png" th:src="@{images/bukser_cropped.png}" height="125" width="125" alt="slider logo">
        <img src="../static/Images/cykel_cropped.png" th:src="@{images/cykel_cropped.png}" height="125" width="125" alt="slider logo">
        <img src="../static/Images/isbad_cropped.png" th:src="@{images/isbad_cropped.png}" height="125" width="125" alt="slider logo">
        <img src="../static/Images/necklace_cropped.png" th:src="@{images/necklace_cropped.png}" height="125" width="125" alt="slider logo">
        <img src="../static/Images/shirt_cropped.png" th:src="@{images/shirt_cropped.png}" height="125" width="125" alt="slider logo">
        <img src="../static/Images/sliders_cropped.png" th:src="@{images/sliders_cropped.png}" height="125" width="125" alt="slider logo">
        <img src="../static/Images/stol_cropped.png" th:src="@{images/stol_cropped.png}" height="125" width="125" alt="slider logo">
        <img src="../static/Images/taske_cropped.png" th:src="@{images/taske_cropped.png}" height="125" width="125" alt="slider logo">
        <img src="../static/Images/ur_cropped.png" th:src="@{images/ur_cropped.png}" height="125" width="125" alt="slider logo">
        <img src="../static/Images/airpods_cropped.png" th:src="@{images/airpods_cropped.png}" height="125" width="125" alt="slider logo">
        <img src="../static/Images/armband_cropped.png" th:src="@{images/armband_cropped.png}" height="125" width="125" alt="slider logo">
        <img src="../static/Images/bog_cropped.png" th:src="@{images/bog_cropped.png}" height="125" width="125" alt="slider logo">
        <img src="../static/Images/bukser_cropped.png" th:src="@{images/bukser_cropped.png}" height="125" width="125" alt="slider logo">
        <img src="../static/Images/cykel_cropped.png" th:src="@{images/cykel_cropped.png}" height="125" width="125" alt="slider logo">
        <img src="../static/Images/isbad_cropped.png" th:src="@{images/isbad_cropped.png}" height="125" width="125" alt="slider logo">
        <img src="../static/Images/necklace_cropped.png" th:src="@{images/necklace_cropped.png}" height="125" width="125" alt="slider logo">
        <img src="../static/Images/shirt_cropped.png" th:src="@{images/shirt_cropped.png}" height="125" width="125" alt="slider logo">
        <img src="../static/Images/sliders_cropped.png" th:src="@{images/sliders_cropped.png}" height="125" width="125" alt="slider logo">
        <img src="../static/Images/stol_cropped.png" th:src="@{images/stol_cropped.png}" height="125" width="125" alt="slider logo">
        <img src="../static/Images/taske_cropped.png" th:src="@{images/taske_cropped.png}" height="125" width="125" alt="slider logo">
        <img src="../static/Images/ur_cropped.png" th:src="@{images/ur_cropped.png}" height="125" width="125" alt="slider logo">
        <img src="../static/Images/airpods_cropped.png" th:src="@{images/airpods_cropped.png}" height="125" width="125" alt="slider logo">
        <img src="../static/Images/armband_cropped.png" th:src="@{images/armband_cropped.png}" height="125" width="125" alt="slider logo">
        <img src="../static/Images/bog_cropped.png" th:src="@{images/bog_cropped.png}" height="125" width="125" alt="slider logo">
        <img src="../static/Images/bukser_cropped.png" th:src="@{images/bukser_cropped.png}" height="125" width="125" alt="slider logo">
        <img src="../static/Images/cykel_cropped.png" th:src="@{images/cykel_cropped.png}" height="125" width="125" alt="slider logo">
        <img src="../static/Images/isbad_cropped.png" th:src="@{images/isbad_cropped.png}" height="125" width="125" alt="slider logo">
        <img src="../static/Images/necklace_cropped.png" th:src="@{images/necklace_cropped.png}" height="125" width="125" alt="slider logo">
        <img src="../static/Images/shirt_cropped.png" th:src="@{images/shirt_cropped.png}" height="125" width="125" alt="slider logo">
        <img src="../static/Images/sliders_cropped.png" th:src="@{images/sliders_cropped.png}" height="125" width="125" alt="slider logo">
        <img src="../static/Images/stol_cropped.png" th:src="@{images/stol_cropped.png}" height="125" width="125" alt="slider logo">
        <img src="../static/Images/taske_cropped.png" th:src="@{images/taske_cropped.png}" height="125" width="125" alt="slider logo">
        <img src="../static/Images/ur_cropped.png" th:src="@{images/ur_cropped.png}" height="125" width="125" alt="slider logo">
        <img src="../static/Images/airpods_cropped.png" th:src="@{images/airpods_cropped.png}" height="125" width="125" alt="slider logo">
        <img src="../static/Images/armband_cropped.png" th:src="@{images/armband_cropped.png}" height="125" width="125" alt="slider logo">
        <img src="../static/Images/bog_cropped.png" th:src="@{images/bog_cropped.png}" height="125" width="125" alt="slider logo">
        <img src="../static/Images/bukser_cropped.png" th:src="@{images/bukser_cropped.png}" height="125" width="125" alt="slider logo">
        <img src="../static/Images/cykel_cropped.png" th:src="@{images/cykel_cropped.png}" height="125" width="125" alt="slider logo">
        <img src="../static/Images/isbad_cropped.png" th:src="@{images/isbad_cropped.png}" height="125" width="125" alt="slider logo">
        <img src="../static/Images/necklace_cropped.png" th:src="@{images/necklace_cropped.png}" height="125" width="125" alt="slider logo">
        <img src="../static/Images/shirt_cropped.png" th:src="@{images/shirt_cropped.png}" height="125" width="125" alt="slider logo">
        <img src="../static/Images/sliders_cropped.png" th:src="@{images/sliders_cropped.png}" height="125" width="125" alt="slider logo">
        <img src="../static/Images/stol_cropped.png" th:src="@{images/stol_cropped.png}" height="125" width="125" alt="slider logo">
        <img src="../static/Images/taske_cropped.png" th:src="@{images/taske_cropped.png}" height="125" width="125" alt="slider logo">
        <img src="../static/Images/ur_cropped.png" th:src="@{images/ur_cropped.png}" height="125" width="125" alt="slider logo">
      </div>
    </div>
  </div>


</slidebody>

<div th:replace="~{Footer :: Footer}"></div>

</body>
</html>